<div class="container my-5">
    <div class="row justify-content-between">
        <div class="card text-bg-dark shadow-lg p-3 col-12 col-lg-3 text-center">
            <i class="bi bi-pc-display display-1"></i>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
        </div>

        <div class="card text-bg-dark shadow-lg p-3 col-12 col-lg-3 text-center">
            <i class="bi bi-earbuds display-1"></i>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
        </div>

        <div class="card text-bg-dark shadow-lg p-3 col-12 col-lg-3 text-center">
            <i class="bi bi-tablet-fill display-1"></i>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
        </div>
    </div>

</div>